@import '../../styles/variables';

.footer {
  background-color: $bg-color;
  padding: 1em;
  color: $hover-txt-color;

  .footerContent {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px; // Espacement entre le contenu du footer et le footerBottom

    .footerSection1, .footerSection2 {
      // Si besoin, ajustez pour un meilleur espacement et alignement
      margin-right: 20px;

      a {
        color: $nav-color;
      }
      
      h3 {
        margin-bottom: 1em; // Espacement sous les titres des sections pour une meilleure lisibilité
      }

      p, ul {
        line-height: 170%;
      }

      li {
        display: flex;
        align-items: center; // Alignement des icônes avec le texte

        img {
          width: 50px; // Taille réduite pour les logos
          height: auto; // Maintient l'aspect ratio
          margin-left: 0.5em; // Un petit espacement à gauche du logo pour ne pas coller au texte
        }
      }
    }
  }

  .footerBottom {
    text-align: center;
  }
}

